#mainimg{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1536px;
    height: 650px;
    z-index: -1;
    background-color: transparent;
    backdrop-filter: blur(7px);
}
#logo{
    position: absolute;
    top: 15px;
    left: 70px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}
#wu{
    position: absolute;
    top: 15px;
    left: 130px;
    color: white;
}
#inf{
    position: absolute;
    top: 30px;
    left: 550px;
    color: white;
    text-decoration: none;
}
#cat{
    position: absolute;
    top: 30px;
    left: 650px;
    color: white;
    text-decoration: none;
}
#sett{
    position: absolute;
    top: 30px;
    left: 750px;
    color: white;
    text-decoration: none;
}
#home{
    position: absolute;
    top:20px;
    left: 820px;
    color: white;
    background-color: transparent;
    backdrop-filter: blur(8px);
    border: 2px solid white;
    padding: 10px;
    border-radius: 20px;
}
#home:hover{
    background-color: transparent;
    backdrop-filter: blur(4px);
}
#PP{
    position: absolute;
    top:25px;
    left: 1350px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
#logout{
    font-size: 17px;
    position: absolute;
    top: 20px;
    left: 1410px;
    display: inline-block;
    color: black;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100px;
    height: 40px;
    border-radius: 10px;
    text-decoration: none;
}
#logout:hover{
    background-color: transparent;
    backdrop-filter: blur(4px);
    color: white;
    border: 2px solid white;
}
#h11{
    font-size: 75px;
    position: absolute;
    top: 120px;
    left: 70px;
    color: white;
}
#h12{
    font-size: 75px;
    position: absolute;
    top: 230px;
    left: 70px;
    color: white;
}
#h13{
    font-size: 75px;
    position: absolute;
    top: 370px;
    left: 70px;
    color: white;
}
#h33{
    position: absolute;
    top: 530px;
    left: 70px;
    color: white;
}
#stiky1{
    position: absolute;
    top:600px;
    left: 350px;
}
#d1{
    padding: 20px;
    position: sticky;
    top:650px;
    width: 790px;
    height: 65px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    box-shadow: 10px 10px 16px black;
}
#ST{
    padding: 0px 0px 0px 20px;
    position: absolute;
    top:30px;
    width: 600px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: lightgray;
}
#Submi{
    position: absolute;
    top:30px;
    left: 650px;
    width: 150px;
    height: 40px;
    background-color: red;
    color: white;
    border-radius: 20px;
    border: 1px solid white;
}
