#mainimg{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1536px;
    height: 690px;
    z-index: -1;
}
#logo{
    position: absolute;
    top: 15px;
    left: 70px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}
#wu{
    position: absolute;
    top: 15px;
    left: 130px;
    color: white;
}
#inf{
    position: absolute;
    top: 30px;
    left: 550px;
    color: white;
    text-decoration: none;
}
#cat{
    position: absolute;
    top: 30px;
    left: 650px;
    color: white;
    text-decoration: none;
}
#sett{
    position: absolute;
    top: 30px;
    left: 750px;
    color: white;
    text-decoration: none;
}
#home{
    position: absolute;
    top:20px;
    left: 820px;
    color: white;
    background-color: transparent;
    backdrop-filter: blur(8px);
    border: 2px solid white;
    padding: 10px;
    border-radius: 20px;
}
#home:hover{
    background-color: transparent;
    backdrop-filter: blur(4px);
}
#PP{
    position: absolute;
    top:25px;
    left: 1350px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
#logout{
    font-size: 17px;
    position: absolute;
    top: 20px;
    left: 1410px;
    display: inline-block;
    color: black;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100px;
    height: 40px;
    border-radius: 10px;
    text-decoration: none;
}
#logout:hover{
    background-color: transparent;
    backdrop-filter: blur(4px);
    color: white;
    border: 2px solid white;
}