#mainimg{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1536px;
    height: 690px;
    z-index: -1;
}
#logo{
    position: absolute;
    top: 30px;
    left: 70px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}