#Background{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1523px;
    height: 730px;
}
#f1{
    position: absolute;
    top: 200px;
    left: 700px;
    padding: 30px;
    width: 400px;
    height: auto;
    background-color: transparent;
    backdrop-filter: blur(8px);
}