#Background{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1523px;
    height: 730px;
}
#f1{
    position: absolute;
    top: 200px;
    left: 500px;
    padding: 30px;
    width: 300px;
    height: auto;
    background-color: transparent;
    backdrop-filter: blur(8px);
}
#I1{
    width: 300px;
    height: 40px;
    border-radius: 50px;
    margin-bottom: 50px;
    background-color: transparent;
    backdrop-filter: blur(8px);
    border: 1px solid white;
    color: white;
}
#I2{
    width: 300px;
    height: 40px;
    border-radius: 50px;
    margin-bottom: 50px;
    background-color: transparent;
    backdrop-filter: blur(8px);
    border: 1px solid white;
    color: white;
}
#S1{
    width: 300px;
    font-size: 20px;
    height: 40px;
    border-radius: 50px;
    background-color: white;
    color: black;
}
#T1{
    font-size: 50px;
    color: white;
    margin-bottom: 30px;
}