#Background{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1523px;
    height: 730px;
}
#f1{
    position: absolute;
    top: 200px;
    left: 500px;
    padding: 30px;
    width: 350px;
    height: auto;
    background-color: transparent;
    backdrop-filter: blur(8px);
}
#I1{
    width: 340px;
    height: 30px;
    border-radius: 50px;
}
#I2{
    width: 340px;
    height: 30px;
    border-radius: 50px;
}