*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body{
    background: linear-gradient(135deg, #1d2671, #c33764);
    height: 100vh;  
    display: flex;
    justify-content: center;  /* horizontal centering */
    align-items: center;  /* vertical cerntering, as a result form is centered both hori-vertically*/
}

.c1{
    background: #fff;
    width: 380px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);  /*horizontal-offset, vertical-offset, blur-radius, color*/
}

.c1 h2{
    text-align: center;
    margin-bottom: 3px;
}

.c2{
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.c3{
    margin-bottom: 10px;
}

label{
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

.c1 input:focus, .c1 select:focus{    
    border-color: #1d2671;
    outline: none;
}

input, select{
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: background-color 0.3s, border-color 0.3s;
}

button{
    width: 100px;
    padding: 10px;
    background: #1d2671;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 8px;
}

button:hover{
    background: #353d9c;
}

.c4{
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.c4 a{
    color: #1d2671;
    text-decoration: none;
    font-family: 600;
}
